[submodule "themes/phoenix-dark-pink"]
	path = themes/phoenix-dark-pink
	url = https://github.com/j0ni/phoenix-dark-pink
[submodule "modes/ld-mode"]
	path = modes/ld-mode
	url = https://github.com/spenczar/ld-mode
[submodule "modes/glsl-mode"]
	path = modes/glsl-mode
	url = https://github.com/jimhourihan/glsl-mode
[submodule "themes/replace-colorthemes"]
	path = themes/replace-colorthemes
	url = https://github.com/emacs-jp/replace-colorthemes
[submodule "fonts/hermit"]
	path = fonts/hermit
	url = https://github.com/pcaro90/hermit.git
